@model IEnumerable<Login.Models.PO>

@{
    var grid = new WebGrid(Model, rowsPerPage: 10);
}
@if (@Model != null && @Model.Any())
{
    @grid.Table(tableStyle: "table table-bordered table-striped table-hover tbnew",
                headerStyle: "head blue",
                columns: new[]
                {
                     grid.Column("POId", header: "Number",format: (item) => new HtmlString(string.Format("<a href =\"ReviewPO?POId="+ @item.POId +"\" " +"  style=\"color:#1A699C !Important;font-weight: bold;\" data-option=\"3\" data-id=\"{0}\">{0} </a>",@item.POId)),canSort:true),
                     grid.Column("SName", header: "Supplier"),
                     grid.Column("POTenderNo", header: "Tender No"),
                     grid.Column("POFileNo", header: "File No"),
                     grid.Column("POVat", header: "Vat Amount"),
                     grid.Column("POTotal", header: "Total"),
                     grid.Column("", header:"",
                     format: (item) => new HtmlString(string.Format("<a href=\"#\" data-id=\"{0}\"  data-id1=\"{1}\" data-option=\"1\" ><span class=\"glyphicon glyphicon-pencil\"></span></a><a href=\"#\" data-id=\"{0}\" data-id1=\"{1}\" data-option=\"2\" ><span class=\"glyphicon glyphicon-trash\"></span></a>",
                        @item.POId, @item.IsApproved)
                          ),canSort:true, style: "WebGridActionWidth")
                }

  );

    if (Model.Count() > 0)
    {

        @grid.PagerList(mode: WebGridPagerModes.All,
                    numericLinksCount: 15,
                    firstText: "««",
                    previousText: "«",
                    nextText: "»",
                    lastText: "»»")
        ;
    }

}
else
{
    <span>No Records Found</span>

}


