@model IEnumerable<Login.Models.Location>

@{
    var grid = new WebGrid(Model, rowsPerPage: 10);
}
@if (@Model != null && @Model.Any())
{
    @grid.Table(tableStyle: "table table-bordered table-striped table-hover tbnew",
                headerStyle: "head blue",
                columns: new[]
                {
                     grid.Column("LocationId", header: "LocationId",format: (item) => new HtmlString(string.Format("<a href =\"ReviewLocation?LocationId="+ @item.LocationId +"\" " +"  style=\"color:#1A699C !Important;font-weight: bold;\" data-option=\"3\" data-id=\"{0}\">{0} </a>",@item.LocationId)),canSort:true),
                     grid.Column("LocationName", header: "Location Name"),
                     grid.Column("LocationSymbol", header: "Locattion Symbol"),
                     grid.Column("", header:"",
                     format: (item) => new HtmlString(string.Format("<a href=\"#\" data-id=\"{0}\"  data-id1=\"{1}\" data-option=\"1\" ><span class=\"glyphicon glyphicon-pencil\"></span></a><a href=\"#\" data-id=\"{0}\" data-id1=\"{1}\" data-option=\"2\" ><span class=\"glyphicon glyphicon-trash\"></span></a>",
                        @item.LocationId, @item.LocationId)
                          ),canSort:true, style: "WebGridActionWidth")
                }

  );

    if (Model.Count() > 0)
    {

        @grid.PagerList(mode: WebGridPagerModes.All,
                    numericLinksCount: 15,
                    firstText: "««",
                    previousText: "«",
                    nextText: "»",
                    lastText: "»»")
        ;
    }

}
else
{
    <span>No Records Found</span>

}


