@using Login.Models.Constants;
@using Login.Models;
@model Login.Models.Location

<script src="@Url.Content("~/Scripts/Apps/User.js")" type="text/javascript"></script>
<script type="text/javascript">

    var AdminUrl = {

        //ManageLeads: '@Url.Content("~/Lead/ManageLeads")',
        //GetDesignations: '@Url.Content("~/Admin/GetDesignations")',
        SaveLocation: '@Url.Content("~/Admin/SaveLocation")',
        ReviewLocation: '@Url.Content("~/Admin/ReviewLocation")'


    };
    $(document).ready(function () {
        selectmenu(4);
    });
</script>

@{
    ViewBag.Title = "Add Edit Users";
    Layout = "_SuperAdmin.cshtml";

}


<div class="col-md-12" style="padding-left: 45px !important;padding-right: 45px !important">
    @section Headertitle {
        @{
            var title = Model.LocationId > 0 ? "Update Loaction" : "Add New Location";
        }

        <h1>
            @title
        </h1>
        <div class="col-md-2 pull-right" style="margin-right: -25px;">
            <a type="button" class="btn btn-default" id="btnCancelEditLead" data-dismiss="modal" href="@Url.Action("GoBackLocation","Admin")">Cancel</a>
            <button type="button" id="savelocation" class="btn btn-primary">Save</button>
        </div>

        <hr />
    }

    @using (Html.BeginForm("AddEditLeads", "Admin", FormMethod.Post, new { id = "FrmAELocations" }))
    {
        <div class="panel panel-default" style="padding: 5px 5px 5px 5px;">
            <div class="panel-heading" style="margin-bottom :5px;">
                <h4>BasicDetails</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span>Location Name</span><span style="color:red"> *</span>
                    @Html.TextBoxFor(m => m.LocationName, new { verrormsg = "Name of location is required", Id = "locationname", @class = "form-control" })
                </div>

                <div class="col-md-4">
                    <span>Location Symbol</span><span style="color:red"> *</span>
                    @Html.TextBoxFor(m => m.LocationSymbol, new { verrormsg = "Symbol for location is required", Id = "locationsymbol", @class = "form-control" })
                </div>
                                
                @Html.HiddenFor(m => m.LocationId, new { Id = "LocationId" })
            </div>
        </div>

    }

</div>

